


/* header */
header{
    margin: auto;
    width: min(100% ,1440px);
    height:50px ;
    padding: 6px 82px;
    background-color:#FA793C ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.burger{
    display: none;
 font-size:25px ;
color: #FFFFFF;

}
.header_a{
    display: flex;
    align-items: center;
    column-gap: 14px;
}
span{
    font-family: Pridi;
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
color:#FFFFFF ;
}

.header_ul{
    display: flex;
    column-gap: 32px;
}
.header_a1{
    font-family: ABeeZee;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #FFFFFF;
}
.header_nav{
    display: flex;
    column-gap: 40px;
}
/* section1 */
.section1{
    margin: auto;
   background-image: url(../images/section1.png);
   width: min(100% ,1440px);
   height: 550px;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   row-gap: 32px;
}
h2{
    font-family: Kanit;
font-weight: 400;
font-size: 50px;
line-height: 75px;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
}
button{
    font-family: Kanit;
font-weight: 400;
font-size: 32px;
line-height: 40px;
letter-spacing: 0%;
width: 243px;
height: 72px;
top: 292px;
left: 598px;
border-radius: 8px;
background-color: #FA793C;
color: #FFFFFF;
border: none;
}
.button{
    display: flex;
    justify-content: center;
}
/* section2 */
.section2{
     margin: auto;
    width: min(100% ,1440px);
height: 413px;
top: 550px;
background-color: #FA793C;
display: flex;
flex-direction:column ;
justify-content: space-between;
padding: 72px 82px;
}
.article_div{
    display: flex;
    flex-direction: row-reverse;
    row-gap: 20px;
}
h3{
font-family: Kanit;
font-weight: 500;
font-size: 30px;
line-height: 45px;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
}
p{
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-family: Kanit;
font-weight: 500;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
color: #FFFFFF;

}
.article{
    position: relative;
    flex: 0 0 min(100%, 300px);
}